
JUPYTER=on
FASTAPI=on

# === BASE URL ===
BASE_URL="https://cdn.leoncdn.dev"
IMG2VID_BASE_URL="https://cdn.leoncdn.dev"




# === TXT2VID ===
USE_IMG2VID="off"
IMG2VID_MODEL="WAN2.1B"
IMG2VID_PATH="/workspace/ai-core/models/img2vid/${IMG2VID_MODEL}"
IMG2VID_MODEL_FILES="\
Wan2.1_VAE.pth \
config.json \
.gitattributes \
README.md \
diffusion_pytorch_model-00001-of-00007.safetensors \



# === TEXT2SOUND: ThinkSound ===
USE_TXT2SOUND="off"
TXT2SOUND_MODEL="Thinksound"
TXT2SOUND_PATH="/workspace/models/text2Audio/$TXT2SOUND_MODEL"
TXT2SOUND_MODEL_FILES="thinksound.ckpt vae.ckpt"
